body {
  background-color: black;
}
.main {
  overflow: hidden;
}
li {
  list-style-type: none;

  color: white;

  font-family: 'Futura';
}

li span {
  color: white;
}

h1 {
  text-align: center;

  color: #FFF;

  font-family: 'Karmina';
  font-size: 45px;
}

h2 {
  padding: 15px;

  color: #F0047F;

  font-family: 'Karmina';
  font-size: 40px;
}
.header-1{
  overflow-x: hidden;

  margin-left: 25%;
}
.header-2{
  overflow-x: hidden;

  margin-left: -145px;
}
p {
  text-align: center;

  color: #FFF;

  font-family: 'Futura';

}

img.cards-1 {
  margin-bottom: 18px;
}

.text-2 {
position: relative;

transform: rotate(13deg);
}

.text-2 p {
  width: 240px;
  margin-left: 13%;

  font-size: 15px;
  font-size: 15px;
}

.date {
width: 683px;
height: 18px;
margin-top: 90px;
margin-bottom: 45px;
margin-left: -32px;

transform: rotate(12deg);

background: #B4EC51;
}
.date p {
    padding: 2px;

    color: black;

    font-size: 15px;

    align-items: flex-start;
}
.text-1{
  position: relative;
  left: 15%;

  width: 220px;

  transform: rotate(-13deg);
}

.cards-2 {
  margin-top: 20px;
  margin-right: 160px;
  margin-left: -25px;

  transform: rotate(20deg);
}
.text {
  width: 200px;
  margin-top: -105px;
  margin-left: 20%;

  align-items: center;
}
.buttom {
  width: 100px;
  margin-top: 10px;
  margin-left: 35%;
  padding: 5px;

  text-align: center;

  border-radius: 5px;
  background-color: #fff;

}
.buttom a {
  text-decoration: none;

  color: #000;

  font-family: 'Karmina';
}
.cards-3{
  margin-top: -61px;
margin-left: 119px;

transform: rotate(-71deg)
}
.place {
  margin-top: -197px;
  margin-left: 10%;

  transform: rotate(-57deg);
}
li{
  padding-bottom: 20px;
}
.more-info{
  margin-top: -35px;
}
.more-info ul {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;
}

.more-info img {
    width: 200px;
    height: 230px;
    margin-left: -20px;
}

@media all and (min-width: 500px) {
 .date {
  width: 835px;
  height: 25px;
  }
 .date p {
  padding: 5px;
  }
  h1 {
  font-size: 70px;
  }
  .text-2 p {
    width: 360px;

    font-size: 28px;
  }
  .date {
    margin-top: 110px;
    margin-bottom: 80px;
  }
  .text-1 {
    width: 310px;
  }
  .text-1 p {
    width: 280px;
    margin-left: 15px;

    font-size: 28px;
  }
  .text {
    width: 330px;
    margin-bottom: 23px;
    margin-left: 17%;

    font-size: 30px;
  }
  .buttom {
    width: 180px;
    margin-left: 28%;
    padding: 15px;
  }
  .buttom a {
  font-size: 35px;
  }
}
@media all and (min-width: 760px) {
  .date {
   height: 55px;
   }
  .date p {
   width: 1800px;
   width: 1600px;
   padding: 15px;

  font-size: 30px;
   }
   h1 {
   font-size: 80px;
   }

   .text-2 p {
     width: 450px;
     margin-left: 170px;

     font-size: 35px;
   }
   .date {
     margin-top: 95px;
     margin-bottom: 130px;
   }
   .text-1 {
     width: 400px;
     margin-left: 30px;
   }
   .text-1 p {
     width: 550px;
     margin-left: -70px;

     font-size: 35px;
   }
   .cards-2 {
     margin-top: -80px;
     margin-right: 350px;

     transform: rotate(35deg);
   }
   .text {
     width: 500px;
    margin-top: -210px;
    margin-bottom: 40px;

     font-size: 40px;
   }
   .buttom {
     width: 220px;
     margin-bottom: -90px;
     margin-left: 34%;
     padding: 20px;
   }
   .buttom a {
   font-size: 40px;
   }
   .more-info{
     margin-top: -155px;
   }
   .more-info img {
  width: 400px;
  height: 430px;
  margin-bottom: -15px;
  margin-left: -60px;
  }
  .more-info ul {
font-size: 30px;
  }
}
@media all and (min-width: 1440px) {
    h1 {
      font-size: 50px;
    }
    .cards-1 {
      margin-top: -155px;
      margin-right: -50px;

      transform: rotate(5deg);
    }
    .text-2 {
      position: absolute;

      margin-top:  300px;

      transform: rotate(0deg);
    }
    .text-2 p{
      font-size: 25px;
    }
    .text-1 p{
      font-size: 25px;
    }
    .header-1 {
    display: none;
    }
    .header-2 {
      margin-left: 140px;
    }
    .text-1 {
    margin-top: -40px;
      margin-left: 600px;

      transform: rotate(30deg);
    }

    .date {
      position: relative;
      z-index: 1;

      width: 2400px;
      margin-top: -20px;
      margin-left: -100px;

      transform: rotate(13deg);
    }
    .cards-2 {
      position: absolute;
      z-index: 0;

      width: 400px;
      margin-top: -850px;
      margin-left: 50px;

      transform: rotate(100deg);
    }
    .cards-3 {
      width: 550px;
      margin-top: 20px;
      margin-left: 920px;

      transform: rotate(-10deg);
    }
    .text {
      position: absolute;

      width: 320px;
      margin-top: 320px;
      margin-left: 330px;

      font-size: 25px;
    }
    .buttom {
      position: absolute;

      margin-top: 200px;
      margin-left: 260px;
    }
    .more-info {
      margin-top: -180px;
    }
    .more-info ul {
      flex-direction: row;

      justify-content: space-around;
      align-items: baseline;
    }
    .more-info img {
      width: 150px;
      height: auto;
    }
}
@media all and (min-width: 1000px) {
  h1 {
    font-size: 50px;
  }
  .cards-1 {
    margin-top: -155px;
    margin-right: -50px;

    transform: rotate(5deg);
  }
  .text-2 {
    position: absolute;

    margin-top:  200px;

    transform: rotate(0deg);
  }
  .text-2 p{
    width: 300px;

    font-size: 22px;
  }
  .header-1 {
  display: none;
  }

  .header-2 {
    margin-left: 140px;
  }
  .text-1 {
    width: 300px;
    margin-top: -40px;
    margin-left: 600px;

    transform: rotate(30deg);
  }
  .text-1 p{
    width: 300px;

    font-size: 22px;
  }
  .text-1 H1{
    margin-left: -120px;
  }
  .date {
    position: relative;
    z-index: 1;

    width: 2400px;
    margin-top: -20px;
    margin-left: -100px;

    transform: rotate(7deg);
  }
  .cards-2 {
    position: absolute;
    z-index: 0;

    width: 300px;
    margin-top: -650px;
    margin-left: 50px;

    transform: rotate(100deg);
  }
  .cards-3 {
    width: 390px;
    margin-top: -100px;
    margin-left: 690px;

    transform: rotate(-10deg);
  }
.text {
  position: absolute;

  width: 300px;
  margin-top: 150px;
  margin-left: 170px;

  font-size: 25px;
}

  .buttom {
    position: absolute;

    width: 170px;
    margin-top: 270px;
    margin-left: 220px;
    padding: 10px;
  }
  .buttom a {
  font-size: 30px;
  }
  .more-info {
    margin-top: -120px;
  }
  .more-info ul {
    flex-direction: row;

    justify-content: space-around;
    align-items: baseline;
  }
  .more-info img {
    width: 150px;
    height: auto;
  }


}
@media all and (min-width: 1400px) {

    h1 {
    font-size: 70px;
    }
    .cards-1 {
      margin-top: -155px;
      margin-right: -50px;

      transform: rotate(5deg);
    }
    .text-2 {
      position: absolute;

      margin-top:  300px;

      transform: rotate(0deg);
    }
    .text-2 p{
      font-size: 35px;
    }
    .text-1 p{
      font-size: 35px;
    }
    .header-1 {
    display: none;
    }
    .header-2 {
      margin-left: 140px;
    }
    .text-1 {
    margin-top: -40px;
      margin-left: 600px;

      transform: rotate(30deg);
    }

    .date {
      position: relative;
      z-index: 1;

      width: 2400px;
      margin-top: -20px;
      margin-left: -100px;

      transform: rotate(13deg);
    }
    .cards-2 {
      position: absolute;
      z-index: 0;

      width: 400px;
      margin-top: -850px;
      margin-left: 50px;

      transform: rotate(100deg);
    }
    .cards-3 {
      width: 550px;
      margin-top: 20px;
      margin-left: 920px;

      transform: rotate(-10deg);
    }
    .text {
      position: absolute;

      width: 400px;
      margin-top: 320px;
      margin-left: 200px;

      font-size: 35px;
    }
    .buttom {
      position: absolute;

      margin-top: 200px;
      margin-left: 260px;
    }
    .more-info {
      margin-top: -180px;
    }
    .more-info ul {
      flex-direction: row;

      justify-content: space-around;
      align-items: baseline;
    }
    .more-info img {
      width: 150px;
      height: auto;
    }
}
