body {
  background-color: black;

  font-size: 13px;
}
* {
  transition: all .3s ease;
}

.main {
  overflow: hidden;
}

li {
  padding-bottom: 20px;

  list-style-type: none;

  color: white;
}

li span {
  color: white;
}

h1 {
  margin-bottom: 2%;

  text-align: center;

  color: #FFF;

  font-family: 'Karmina';
  font-size: 3.5em;
}

.header-1 {
  margin-left: 25%;
}

.header-2 {
  margin-left: -145px;
}

p {
  text-align: center;

  color: #FFF;
}

.cards-1 {
  margin-bottom: 18px;
}

.text-2 {
  position: relative;

  transform: rotate(13deg);
}

.text-2 p {
  width: 240px;
  margin-left: 13%;
}

.date {
  width: 835px;
  height: 20px;
  margin-top: 90px;
  margin-bottom: 30px;
  margin-left: -32px;

  transform: rotate(12deg);

  background: linear-gradient(to top, #468424 2%, #b4ec51 100%)
}

.date p {
  padding: 3px;

  color: black;
}

.text-1 {
  position: relative;
  left: 15%;

  width: 220px;

  transform: rotate(-13deg);
}

.cards-2 {
  margin-top: 20px;
  margin-right: 160px;
  margin-left: -25px;

  transform: rotate(20deg);
}

.text {
  width: 200px;
  margin-top: -105px;
  margin-left: 20%;

  align-items: center;
}

.buttom {
  width: 100px;
  margin-top: 10px;
  margin-left: 35%;
  padding: 5px;

  text-align: center;

  border-radius: 5px;
  background-color: #fff;
}

.buttom a {
  text-decoration: none;

  color: #000;

  font-family: 'Karmina';
}

.cards-3 {
  margin-top: -61px;
  margin-left: 119px;

  transform: rotate(-71deg)
}

footer {
  margin-top: -35px;
}

footer ul {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;
}

footer img {
    width: 200px;
    height: 230px;
    margin-left: -20px;
}

@media all and (min-width: 500px) {
 .date {
    width: 835px;
    height: 25px;
  }

  p {
      font-size: 2em;
  }

 .date p {
    padding: 5px;
  }

  h1 {
    font-size: 4em;
  }

  .text-2 p {
    width: 360px;
  }

  .date {
    height: 35px;
    margin-top: 110px;
    margin-bottom: 80px;
  }

  .text-1 {
    width: 310px;
  }

  .text-1 p {
    width: 280px;
    margin-left: 15px;
  }

  .text {
    width: 330px;
    margin-bottom: 23px;
    margin-left: 17%;
  }

  .buttom {
    width: 180px;
    margin-left: 28%;
    padding: 15px;
  }

  .buttom a {
    font-size: 3em;
  }

  li {
    font-size: 2em;
  }
}
@media all and (min-width: 760px) {
  .date {
    width: 1200px;
    height: 55px;
    margin-top: 125px;
    margin-bottom: 100px;
  }

  .date p {
    width: 1600px;
    padding: 15px;
  }

  h1 {
    font-size: 5em;
  }

  .text-2 p {
    width: 450px;
    margin-left: 170px;
  }

  .text-1 {
    width: 400px;
    margin-left: 30px;
  }

  .text-1 p {
    width: 400px;
    margin-left: 10px;
  }

  .cards-2 {
    margin-top: -80px;
    margin-right: 350px;

    transform: rotate(35deg);
  }

  .text {
    width: 450px;
    margin-top: -210px;
    margin-bottom: 40px;
    margin-left: 166px;
 }

  .buttom {
    width: 220px;
    margin-bottom: -90px;
    margin-left: 34%;
    padding: 20px;
  }

  footer {
    margin-top: -155px;
  }

  footer img {
    width: 400px;
    height: 430px;
    margin-bottom: -15px;
    margin-left: -60px;
  }

  footer ul {
    font-size: 1.5em;
  }
}

@media all and (min-width: 1000px) {
  h1 {
    font-size: 4.7em;
  }

  p {
    font-size: 1.4em;
  }

  li {
    font-size: 1em;
  }

  .for-flex {
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
  }

  .cards-1 {
    width: 46%;
    margin-left: 60%;

    transform: rotate(0deg);
  }

  .text-2 {
    position: relative;

    margin-top: 36%;
    margin-bottom: -35%;
    margin-left: -8%;

    transform: rotate(-26deg);
  }

  .text-2 p{
    width: 300px;

  }

  .header-1 {
    display: none;
  }

  .header-2 {
    width: 5.5em;
    margin-left: 32%;
  }

  .text-1 {
    position: relative;

    width: 300px;
    margin-top: -10%;
    margin-bottom: -8%;
    margin-left: 48%;

    transform: rotate(22deg);
  }

  .text-1 p {
    width: 270px;
  }

  .date {
    z-index: 1;

    height: 40px;
    margin-top: -260px;
    margin-left: -100px;

    transform: rotate(11deg);
  }

  .date p {
    padding: 10px;

    font-size: 1.7em;
  }

  .cards-2 {
    position: relative;
    z-index: 0;

    width: 295px;
    margin-top: -40%;
    margin-left: 0%;

    transform: rotate(100deg);
  }

  .cards-3 {
    position: relative;

    width: 294px;
    margin-top: 9%;
    margin-left: 9%;

    transform: rotate(-31deg);
  }

  .buy {
    margin-top: -14%;
    margin-bottom: 36%;
    margin-left: 20%;
  }

  .text {
    width: 240px;
    margin-top: 150px;
    margin-left: 170px;
  }

  .buttom {
    width: 135px;
    height: 17px;
    margin-top: -24px;
    margin-bottom: 0;
    margin-left: 51%;
    padding: 10px;
  }

  .buttom a {
    font-size: 2em;
  }

  footer {
    margin-top: -6%;
  }

  footer ul {
    flex-direction: row;

    justify-content: space-around;
    align-items: сcenter;
  }

  footer img {
    width: 150px;
    height: auto;
  }
}

@media all and (min-width: 1080px){
  .date {
    width: 1500px;
    margin-top: -320px;
  }

  .text-1{
    margin-top: -14%;
    margin-bottom: -7%;
    margin-left: 58%;

    transform: rotate(-29deg)
  }

  .cards-1 {
    margin-bottom: 94px;
  }
}

@media all and (min-width: 1150px) {
  .cards-2 {
    margin-top: -54%;
    margin-bottom: -23%;
  }

  .text-1 {
    margin-top: -9%;
  }

  .date {
    margin-top: -26%;

    transform: rotate(14deg);
  }

  .buy {
    margin-top: -8%;
    margin-left: 28%;
  }

  .cards-1 {
    margin-bottom: 35px;
  }
}

@media all and (min-width: 1230px){
  .buy {
    margin-left: 27%;
  }

  .date {
    width: 2000px;
  }

  .text-2 {
    margin-top: 40%;
    margin-bottom: -33%;
    margin-left: -7%;

    transform: rotate(-26deg);
  }
}

@media all and (min-width: 1370px){
  .buy {
    margin-left: 28%;
  }
}

@media all and (min-width: 1420px){
  h1 {
    font-size: 6em;
  }

  p {
    font-size: 1.5em;
  }

  footer {
    margin-top: -10%;
  }

  .for-flex {
    margin-top: 5%;
  }

  .date {
    width: 2700px;
    height: 40px;
    height: 52px;
    margin-top: -30%;
    margin-left: 10%;

    transform: rotate(13deg)
  }

  .date p {
    padding: 16px;

    font-size: 1.9em;
  }

  .cards-1 {
    width: 50%;
    margin-left: 55%;
  }

  .cards-2 {
    width: 23%;
    height: 0%;
    margin-top: -40%;
    margin-left: 3%;

    transform: rotate(95deg);
  }

  .cards-3 {
    width: 29%;
    height: 0%;
    margin-top: 2%;

    transform: rotate(-25deg);
  }

  .text-1 {
    width: 360px;
    margin-top: -15%;

    transform: rotate(-25deg);
  }

  .text-1 p {
    width: 100%;
    margin-top: 3%;
  }

  .text-2 {
    margin-top: 32%;
    margin-bottom: -26%;
    margin-left: 2%;

    transform: rotate(-25deg);
  }

  .text-2 p {
    margin-top: 3%;
}

  .buy {
    margin-top: -14%;
    margin-left: 30%;
  }

  .text {
    width: 270px;

    font-size: 1.5em;
  }

  .buttom {
    height: 34px;
  }

  .buttom a {
    font-size: 2.3em;
  }

  .header-2 {
    width: 100%;
    margin-left: 17%;
  }
}
